[submodule "Modules/Json"]
	path = Modules/Json
	url = https://github.com/nlohmann/json.git
[submodule "Modules/Stb"]
	path = Modules/Stb
	url = https://github.com/nothings/stb.git
[submodule "Modules/Spdlog"]
	path = Modules/Spdlog
	url = https://github.com/gabime/spdlog.git
